// Add your custom CSS here.
// font
body {
  font-family: "Arial", sans-serif;

}
.header__row {
  width: 100%;
  background-color: whitesmoke  !important
}

.product__name {
  font-size: 1.5rem;

}

strong.prices__value{

  font-size: 1.5rem  !important
} 
span.variations__grid-title h5 {
  font-size: 1rem  !important
}
span.variations__value {

display: none !important
}

.gallery {
  display: flexbox !important
   
}

//desktop normal size
@media screen and (min-width: 998px) and (max-width: 1367px) {
}
// apenas tablet
@media screen and (min-width: 481px) and (max-width: 997px) {
}
// apenas mobile
@media screen and (max-width: 480px) {
  #product-block .product__buy > button.btn-lg {
    width: 100%;
  }
}
@media (min-width: 767px) {
#product-description .html-clearfix img {
width: 50%
}
